<div class="product-card rounded-4 bg-white h-100">
  <div class="product-img-wrapper rounded-top-4">
    <img [src]="imgUrl" [alt]="titulo">
  </div>
  <div class="p-4">
    <ng-content/>
    <span class="headline d-block mb-2">{{etiqueta}}</span>
    <h5 class="product-name">{{titulo}}</h5>
    <p>{{descripcion}}</p>
    <div class="d-flex justify-content-between align-items-center">
      <span class="product-price">{{precio}}</span>
      <a [routerLink]="urlBoton" class="btn-card btn btn-outline-secondary">{{textoBoton}}</a>
    </div>
  </div>
</div>
